<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<!--
    Conventions for html templates:

    * template must consist of a single file
    * provide support for debug mode
    * use embedded styling embedded in <style> (CSS3)
    * avoid using `style` attribute in elements and favour classes
    * in CSS styles use `px` as unit for font size
    * in HTML elements, avoid using <br /> and favour blocks and inline-blocks
    * twig format is implicit for template files: use `{entity}.print.{name}.html` as naming convention
    * avoid assignment and computation of vars in template (when possible, compute values in controller)
    * twig instructions should be limited to displaying values and providing conditional statements
-->
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>
        {{ title }}
    </title>

    {% include 'header.style.html.twig' %}
    {% include 'footer.style.html.twig' %}

    <style type="text/css">
        @page {
            margin: 1cm 1cm;
        }

        body {
            margin: 0;
            padding: 0;
            /* margin-top must match header::height */
            margin-top: 100px;
            /* margin-bottom must match footer::height */
            margin-bottom: 50px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 10px;
            text-align: justify;
            width: 100%;
        }

        p {
            margin-top: 0;
            margin-bottom: 10px;
        }

        h1, h2, h3 {
            margin-top: 0;
            margin-bottom: 10px;
        }

        h2 {
            font-size: 21px;
        }

        h3 {
            font-size: 15px;
        }

        main table {
            width: 100%;
            border-spacing: 0;
            /*
            // #memo - if collapsed then horizontal lines strike through vertical ones
            border-collapse: collapse;
            */
            border-collapse: collapse;
            page-break-inside: avoid;
            border: 1px solid black;
        }

        main table th, main table td {
            text-align: right;
            padding: 4px;
        }

        main table th:first-child, main table td:first-child {
            text-align: left;
        }

        main table thead tr th {
            text-transform: uppercase;
        }

        main table thead tr th, main table tbody tr td {
            border-right: 1px solid black;
            border-bottom: 1px solid black;
        }

        main table thead tr th:last-child, main table tbody tr td:last-child, main table tfoot tr td:last-child {
            border-right: 0;
        }

        main table tbody tr td {
            border-bottom: 1px solid lightgrey;
            /* border-right: 1px solid black; */
        }

        main table tbody tr:last-child td {
            border-bottom: 0;
            /* border-right: 1px solid black; */
        }

        main table thead tr th, main table tfoot tr td {
            background-color: #eaeaea;
        }

        main table tfoot tr td {
            border-right: 1px solid black;
            border-top: 1px solid black;
        }

        .total-footer {
            font-weight: bold;
        }

        .page-break {
            page-break-after: always;
        }
    </style>
</head>

<body>
    {% include 'header.html.twig' %}

    <div class="introduction" style="height: 250px; overflow: hidden; text-overflow: ellipsis;">
        {{ introduction | raw }}
    </div>

    {% for owner in owners %}
        <!-- <h1>{{ owner.name }}</h1> -->

        {% set provisions_total_owner = 0 %}

        {% set private_total_tenant = 0 %}
        {% set private_total_owner = 0 %}
        {% set private_total_vat = 0 %}

        {% set common_total_tenant = 0 %}
        {% set common_total_owner = 0 %}
        {% set common_total_vat = 0 %}


        {% set recap = {} %}

        {% for lot in owner.property_lots %}

            {% set key = lot.nature ~ '|' ~ lot.date_from ~ '|' ~ lot.date_to %}

            {% if recap[key] is not defined %}
                {% set recap = recap | merge({
                    (key): {
                        nature: lot.nature,
                        date_from: lot.date_from,
                        date_to: lot.date_to,
                        nb_days: lot.nb_days,
                        refs: [lot.ref],
                        shares: lot.lot_shares
                        count: 1
                    }
                }) %}
            {% else %}
                {% set recap = recap | merge({
                    (key): recap[key] | merge({
                        refs: recap[key].refs | merge([lot.ref]),
                        shares: recap[key].shares + lot.lot_shares
                        count: recap[key].count + 1
                    })
                }) %}
            {% endif %}

        {% endfor %}

        <!-- first part : recap -->
        <div style="page-break-inside: avoid; margin-bottom: 20px;">
            <h2>Récapitulatif</h2>

            <table>
                <thead>
                    <tr>
                        <th>Références</th>
                        <th>Nature</th>
                        <th>Quotités</th>
                        <th>Jours</th>
                    </tr>
                </thead>
                <tbody>

                {% for row in recap %}
                    <tr>
                        <td>
                            {{ row.refs | join(', ') }}
                        </td>
                        <td>
                            {{ row.nature }} ({{ row.count }})
                        </td>
                        <td>

                            / {{ total_shares }}
                        </td>
                        <td>
                            {{ row.nb_days }}
                            &nbsp;
                            {{ row.date_from | date('d/m/Y') }} - {{ row.date_to | date('d/m/Y') }}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

        <!-- pass-1 common expenses -->
        {% if owner.has_common_expense or owner.has_reserve_fund %}
        <div style="page-break-inside: avoid;">
            <h2>Charges communes <!-- (Prorata: {{ owner.nb_days }} / {{ nb_days }} jours) --></h2>
            <table>
                <thead>
                    <tr>
                        <th style="width: 33%;">Désignation</th>
                        <th style="width: 12%;">Quotités</th>
                        <th style="width: 11%;">Copro</th>
                        <th style="width: 11%;">Lot</th>
                        <th style="width: 11%;">TVA</th>
                        <th style="width: 11%;">Prop</th>
                        <th style="width: 11%;">Loc</th>
                    </tr>
                </thead>
                <tbody>

                {% for lot in owner.property_lots %}
                        {% set total_apport = 0 %}
                        {% set total_owner = 0 %}
                        {% set total_tenant = 0 %}
                        {% set total_vat = 0 %}
                        <tr>
                            <td colspan="2"><strong>{{ lot.code }} - {{ lot.ref }} ({{ lot.nature }})</strong></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        {% for expense in lot.expenses %}
                            {% if expense.name == 'common_expense' or expense.name == 'reserve_fund' %}
                                {% for apport in expense.apportionments %}
                                    {% set quotites = apport.shares ~ ' / ' ~ apport.total_shares %}
                                    {% set apport_total = 0 %}
                                    {% set apport_owner = 0 %}
                                    {% set apport_tenant = 0 %}
                                    {% set apport_vat = 0 %}

                                    <tr>
                                        <td colspan="2"><div style="padding-left: 10px;"><strong>{{ apport.name }}</strong></div></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>

                                    {% for account in apport.accounts %}
                                        {% set apport_total = apport_total + account.total_amount %}
                                        {% set apport_owner = apport_owner + account.owner %}
                                        {% set apport_tenant = apport_tenant + account.tenant %}
                                        {% set apport_vat = apport_vat + account.vat %}

                                        <tr>
                                            <td><div style="padding-left: 20px;">{{ account.name }}</div></td>
                                            <td>{{ quotites }}</td>
                                            <td>{{ account.total_amount | format_money() }}</td>
                                            <td>{{ (account.owner + account.tenant) | format_money() }}</td>
                                            <td>{{ account.vat | format_money() }}</td>
                                            <td>{{ account.owner | format_money() }}</td>
                                            <td>{{ account.tenant | format_money() }}</td>
                                        </tr>
                                    {% endfor %}

                                    {% set total_apport = total_apport + apport_total %}
                                    {% set total_owner = total_owner + apport_owner %}
                                    {% set total_tenant = total_tenant + apport_tenant %}
                                    {% set total_vat = total_vat + apport_vat %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}

                        <tr class="total-footer">
                            <td style="text-align: right;">Total {{ lot.code }} - {{ lot.ref }}</td>
                            <td></td>
                            <td>{{ total_apport | format_money() }}</td>
                            <td>{{ (total_owner + total_tenant) | format_money() }}</td>
                            <td>{{ total_vat | format_money() }}</td>
                            <td>{{ total_owner | format_money() }}</td>
                            <td>{{ total_tenant | format_money() }}</td>
                        </tr>
                    {% set common_total_owner = common_total_owner + total_owner  %}
                    {% set common_total_tenant = common_total_tenant + total_tenant  %}
                    {% set common_total_vat = common_total_vat + total_vat %}
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr class="total-footer">
                            <td style="text-align: right;">Totaux généraux</td>
                            <td></td>
                            <td>{{ common_total | format_money() }}</td>
                            <td><strong>{{ (common_total_owner + common_total_tenant) | format_money() }}</strong></td>
                            <td>{{ common_total_vat | format_money() }}</td>
                            <td>{{ common_total_owner | format_money() }}</td>
                            <td>{{ common_total_tenant | format_money() }}</td>
                        </tr>
                </tfoot>
            </table>
        </div>
        {% endif %}

        <!-- pass-2 provisions -->
        {% if owner.has_provisions %}
        <div style="page-break-inside: avoid;">
            <h2 style="margin-top: 20px;">Provisions</h2>
            <table>
                <thead>
                    <tr>
                        <th style="width: 35%;">Désignation</th>
                        <th style="width: 15%;">Quotités</th>
                        <th style="width: 12%;">Copro</th>
                        <th style="width: 12%;">Lot</th>
                        <th style="width: 12%;">TVA</th>
                        <th style="width: 13%;">Prop</th>
                        <th style="width: 13%;">Loc</th>
                    </tr>
                </thead>
                <tbody>

                {% for lot in owner.property_lots %}
                    {% if lot.has_provisions %}
                        {% set total_owner = 0 %}

                        <tr>
                            <td colspan="7" style="border-bottom: solid 1px black;"><strong>{{ lot.code }} - {{ lot.ref }} ({{ lot.nature }})</strong></td>
                        </tr>

                        {% for expense in lot.expenses %}
                            {% if expense.name == 'provisions' %}
                                <!-- there is a single account for private expenses -->
                                {% for apport in expense.apportionments %}
                                {% for account in apport.accounts %}

                                    <tr>
                                        <td><div style="padding-left: 20px;">
                                            <!--
                                            {{ account.date | date('d/m/Y') }} - 
                                            {{account.description }}
                                            -->
                                            Provisions appelées
                                            </div>
                                        </td>
                                        <td>/</td>
                                        <td></td>
                                        <td>{{ account.owner | format_money() }}</td>
                                        <td></td>
                                        <td>{{ account.owner | format_money() }}</td>
                                        <td></td>
                                    </tr>

                                    {% set total_owner = total_owner + account.owner %}
                                {% endfor %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}

                        <tr class="total-loc">
                            <td style="text-align: right;">Total {{ lot.code }} - {{ lot.ref }}</td>
                            <td ></td>
                            <td ></td>
                            <td >{{ total_owner | format_money() }}</td>
                            <td ></td>
                            <td >{{ total_owner | format_money() }}</td>
                            <td ></td>
                        </tr>
                        {% set provisions_total_owner = provisions_total_owner + total_owner  %}

                    {% endif %}

                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

        <!-- pass-3 private expenses -->
        {% if owner.has_private_expense %}
        <div style="page-break-inside: avoid;">
            <h2 style="margin-top: 20px;">Frais privatifs</h2>
            <table>
                <thead>
                    <tr>
                        <th style="width: 35%;">Désignation</th>
                        <th style="width: 15%;">Quotités</th>
                        <th style="width: 12%;">Copro</th>
                        <th style="width: 12%;">Lot</th>
                        <th style="width: 12%;">TVA</th>
                        <th style="width: 13%;">Prop</th>
                        <th style="width: 13%;">Loc</th>
                    </tr>
                </thead>
                <tbody>

                {% for lot in owner.property_lots %}
                    {% if lot.has_private_expense %}
                        {% set total_tenant = 0 %}
                        {% set total_owner = 0 %}
                        {% set total_vat = 0 %}
                        <tr>
                            <td colspan="7" style="border-bottom: solid 1px black;"><strong>{{ lot.code }} - {{ lot.ref }} ({{ lot.nature }})</strong></td>
                        </tr>

                        {% for expense in lot.expenses %}
                            {% if expense.name == 'private_expense' %}
                                <!-- there is a single account for private expenses -->
                                {% for apport in expense.apportionments %}
                                {% for account in apport.accounts %}

                                    <tr>
                                        <td><div style="padding-left: 20px;">{{ account.date | date('d/m/Y') }} - {{account.description }}</div></td>
                                        <td>/</td>
                                        <td></td>
                                        <td>{{ (account.owner + account.tenant) | format_money() }}</td>
                                        <td>{{ account.vat | format_money() }}</td>
                                        <td>{{ account.owner | format_money() }}</td>
                                        <td>{{ account.tenant | format_money() }}</td>
                                    </tr>

                                    {% set total_owner = total_owner + account.owner %}
                                    {% set total_tenant = total_tenant + account.tenant %}
                                    {% set total_vat = total_vat + account.vat %}
                                {% endfor %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}

                        <tr class="total-loc">
                            <td style="text-align: right;">Total {{ lot.code }} - {{ lot.ref }}</td>
                            <td ></td>
                            <td ></td>
                            <td >{{ (total_owner + total_tenant) | format_money() }}</td>
                            <td >{{ total_vat | format_money() }}</td>
                            <td >{{ total_owner | format_money() }}</td>
                            <td >{{ total_tenant | format_money() }}</td>
                        </tr>
                        {% set private_total_owner = private_total_owner + total_owner  %}
                        {% set private_total_tenant = private_total_tenant + total_tenant  %}
                        {% set private_total_vat = private_total_vat + total_vat %}

                    {% endif %}

                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

        <!-- pass-4 consumptions -->
        <!-- #TODO -->

        <!-- pass-5 TOTAL expenses -->
        <h2 style="margin-top: 20px;">Total des charges</h2>
        <table>
            <thead>
                <tr>
                    <th style="width: 50%;">Désignation</th>
                    <th style="width: 12%;">Copro</th>
                    <th style="width: 12%;">Lot</th>
                    <th style="width: 12%;">TVA</th>
                    <th style="width: 13%;">Prop</th>
                    <th style="width: 13%;">Loc</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Charges communes</td>
                    <td>{{ common_total | format_money() }}</td>
                    <td>{{ (common_total_owner + common_total_tenant) | format_money() }}</td>
                    <td>{{ common_total_vat | format_money() }}</td>
                    <td>{{ common_total_owner | format_money() }}</td>
                    <td>{{ common_total_tenant | format_money() }}</td>
                </tr>
                <!-- #todo - add consumptions
                <tr>
                    <td>Charges communes</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                -->
                {% if private_total > 0 %}
                <tr>
                    <td>Frais privatifs</td>
                    <td></td>
                    <td>{{ (private_total_owner + private_total_tenant)| format_money() }}</td>
                    <td>{{ private_total_vat | format_money() }}</td>
                    <td>{{ private_total_owner | format_money() }}</td>
                    <td>{{ private_total_tenant | format_money() }}</td>
                </tr>
                {% endif %}
            </tbody>
            <tfoot>
                <tr class="total-footer">
                    <td style="text-align: right;">Totaux généraux</td>
                    <td></td>
                    <td>{{ (common_total_owner + private_total_owner + common_total_tenant + private_total_tenant) | format_money() }}</td>
                    <td>{{ (common_total_vat + private_total_vat) | format_money() }}</td>
                    <td>{{ (common_total_owner + private_total_owner) | format_money() }}</td>
                    <td>{{ (common_total_tenant + private_total_tenant) | format_money() }}</td>
                </tr>
            </tfoot>
        </table>

    {% endfor %}


    {% include 'footer.html.twig' %}
</body>

</html>
