<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<!--
    Conventions for html templates:

    * template must consist of a single file
    * provide support for debug mode
    * use embedded styling embedded in <style> (CSS3)
    * avoid using `style` attribute in elements and favour classes
    * in CSS styles use `px` as unit for font size
    * in HTML elements, avoid using <br /> and favour blocks and inline-blocks
    * twig format is implicit for template files: use `{entity}.print.{name}.html` as naming convention
    * avoid assignment and computation of vars in template (when possible, compute values in controller)
    * twig instructions should be limited to displaying values and providing conditional statements
-->
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>
        {{ title }}
    </title>

    {% include 'header.style.html.twig' %}
    {% include 'footer.style.html.twig' %}

    <style type="text/css">
        @page {
            margin: 1cm 1cm;
        }

        body {
            margin: 0;
            padding: 0;
            /* margin-top must match header::height */
            margin-top: 100px;
            /* margin-bottom must match footer::height */
            margin-bottom: 50px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            text-align: justify;
            width: 100%;
        }

        p {
            margin-top: 0;
            margin-bottom: 10px;
        }

        h1, h2, h3 {
            margin-top: 0;
            margin-bottom: 10px;
        }

        h2 {
            font-size: 21px;
        }

        h3 {
            font-size: 15px;
        }

        main table {
            width: 100%;
            border-spacing: 0;
            /*
            // #memo - if collapsed then horizontal lines strike through vertical ones
            border-collapse: collapse;
            */
            border-collapse: collapse;
            page-break-inside: avoid;
            border: 1px solid black;
        }

        main .main-body table {
            font-size: 10px;
        }

        main table th, main table td {
            text-align: right;
            padding: 4px;
        }

        main table th:first-child, main table td:first-child {
            text-align: left;
        }

        main table thead tr th {
            text-transform: uppercase;
        }

        main table thead tr th, main table tbody tr td {
            border-right: 1px solid black;
            border-bottom: 1px solid black;
        }

        main table thead tr th:last-child, main table tbody tr td:last-child, main table tfoot tr td:last-child {
            border-right: 0;
        }

        main table tbody tr td {
            border-bottom: 1px solid lightgrey;
            /* border-right: 1px solid black; */
        }

        main table tbody tr:last-child td {
            border-bottom: 0;
            /* border-right: 1px solid black; */
        }

        main table thead tr th, main table tfoot tr td {
            background-color: #eaeaea;
        }

        main table tfoot tr td {
            border-right: 1px solid black;
            border-top: 1px solid black;
        }

        .total-footer {
            font-weight: bold;
        }

        .page-break {
            page-break-after: always;
        }
    </style>
</head>

<body>
    {% include 'header.html.twig' %}

    <div class="introduction" style="height: 250px; overflow: hidden; text-overflow: ellipsis;">
        {{ introduction | raw }}
    </div>

    <div class="main-body">
    {% for owner in owners %}
        <!-- <h1>{{ owner.name }}</h1> -->

        {% set provisions_total_owner = 0 %}

        {% set private_total_tenant = 0 %}
        {% set private_total_owner = 0 %}
        {% set private_total_vat = 0 %}

        {% set common_total_tenant = 0 %}
        {% set common_total_owner = 0 %}
        {% set common_total_vat = 0 %}


        {% set recap = {} %}

        {% for lot in owner.property_lots %}

            {% set key = lot.nature ~ '|' ~ lot.date_from ~ '|' ~ lot.date_to %}

            {% if recap[key] is not defined %}
                {% set recap = recap | merge({
                    (key): {
                        nature: lot.nature,
                        date_from: lot.date_from,
                        date_to: lot.date_to,
                        nb_days: lot.nb_days,
                        refs: [lot.ref],
                        shares: lot.property_lot_shares,
                        count: 1
                    }
                }) %}
            {% else %}
                {% set recap = recap | merge({
                    (key): recap[key] | merge({
                        refs: recap[key].refs | merge([lot.ref]),
                        shares: recap[key].shares + lot.property_lot_shares,
                        count: recap[key].count + 1
                    })
                }) %}
            {% endif %}

        {% endfor %}

        <!-- first payment information -->
        {% if funding %}
        <div style="page-break-inside: avoid; margin: 20px 0;">

            <!-- payment information -->
            {% if funding.remaining_amount > 0.0 %}
            <div style="position: relative; margin-top: 20px; border: solid 1px black; height: 215px; page-break-inside: avoid;">
                <div style="font-size: 15px; padding-left: 15px; padding-top: 15px;">
                    {{ communication.payment_amount | raw }}
                </div>
                <div style="padding-top: 20px; padding-left: 15px; font-size: 15px;">
                    {{ communication.payment_reference | raw }}
                    IBAN : {{ condominium.bank_account_iban }}<br />
                    BIC : {{ condominium.bank_account_bic }}<br />
                    <br />
                    {{ condominium.legal_name }}<br />
                    {{ condominium.address_street }}<br />
                    {{ condominium.address_zip }} {{ condominium.address_city }}
                </div>
                <div style="position: absolute; right: 10px; top: 35px;">
                    <img src="{{ payment_qr_code_uri }}" width= "150" height="150" />
                </div>
            </div>
            {% endif %}

            <!-- reimbursement information -->
            {% if funding.remaining_amount < 0.0 %}
            <div style="position: relative; margin-top: 20px; border: solid 1px black; page-break-inside: avoid;">
                <div style="font-size: 1rem; line-height: 1.4rem;">
                    {{ communication.reimbursement | raw }}
                </div>
            </div>
            {% endif %}

            <!-- no payment nor reimbursement needed information -->
            {% if funding.remaining_amount == 0.0 %}
            <div style="position: relative; margin-top: 20px; border: solid 1px black; page-break-inside: avoid;">
                <div style="font-size: 1rem; line-height: 1.4rem; padding: 15px;">
                    {{ communication.no_action_required | raw }}
                </div>
            </div>
            {% endif %}
        </div>
        {% endif %}

        <div class="page-break"></div>

        <!-- first part : recap -->
        <div style="page-break-inside: avoid; margin-bottom: 20px;">
            <h2>{{ labels['summary.h2'] }}</h2>

            <table>
                <thead>
                    <tr>
                        <th style="width: 50%;">{{ labels['summary.table.th.references'] }}</th>
                        <th style="width: 19%;">{{ labels['summary.table.th.nature'] }}</th>
                        <th style="width: 13%;">{{ labels['summary.table.th.quotas'] }}</th>
                        <th style="width: 18%;">{{ labels['summary.table.th.days'] }}</th>
                    </tr>
                </thead>
                <tbody>

                {% for row in recap %}
                    <tr>
                        <td>
                            {{ row.refs | join(', ') }}
                        </td>
                        <td>
                            {{ row.nature }} ({{ row.count }})
                        </td>
                        <td>
                            {{ row.shares }}
                            / {{ total_shares }}
                        </td>
                        <td>
                            {{ row.nb_days }}
                            {% if date_from != row.date_from or date_to != row.date_to %}
                            &nbsp;
                            {{ row.date_from | date('d/m/Y') }} - {{ row.date_to | date('d/m/Y') }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

        <!-- global summary -->
        <div style="page-break-inside: avoid;">
            {% if owner.has_common_expense or owner.has_reserve_fund %}
            <table>
                <thead>
                    <tr>
                        <th style="width: 33%;">{{ labels['global_summary.table.th.common_expenses'] }}</th>
                        <th style="width: 12%; text-align: center;">{{ labels['global_summary.table.th.quotas'] }}</th>
                        <th style="width: 11%;">{{ labels['global_summary.table.th.condo'] }}</th>
                        <th style="width: 11%;">{{ labels['global_summary.table.th.lot'] }}</th>
                        <th style="width: 11%;">{{ labels['global_summary.table.th.vat'] }}</th>
                        <th style="width: 11%;">{{ labels['global_summary.table.th.owner'] }}</th>
                        <th style="width: 11%;">{{ labels['global_summary.table.th.tenant'] }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% set total_tenant = 0 %}
                    {% set total_owner = 0 %}
                    {% set total_vat = 0 %}

                    {% for expense in owner.expenses %}
                        <!-- #memo - in the summary version 'common_expense' and 'reserve_fund' are merged into 'common_expense' -->
                        {% if expense.name == 'common_expense' %}
                            {% for apport in expense.apportionments %}
                                {% set quotites = apport.shares ~ ' / ' ~ apport.total_shares %}

                                <tr>
                                    <td style="background-color: #eaeaea; font-weight: bold;"><div style="padding-left: 10px;"><strong>{{ apport.name }}</strong></div></td>
                                    <td style="background-color: #eaeaea; font-weight: bold;"></td>
                                    <td style="background-color: #eaeaea; font-weight: bold;">{{ apport.total_amount | format_money(false) }}</td>
                                    <td style="background-color: #eaeaea; font-weight: bold;">{{ (apport.total_owner + apport.total_tenant) | format_money(false) }}</td>
                                    <td style="background-color: #eaeaea; font-weight: bold;">{{ apport.total_vat | format_money(false) }}</td>
                                    <td style="background-color: #eaeaea; font-weight: bold;">{{ apport.total_owner | format_money(false) }}</td>
                                    <td style="background-color: #eaeaea; font-weight: bold;">{{ apport.total_tenant | format_money(false) }}</td>
                                </tr>

                                {% for account in apport.accounts %}
                                    <tr>
                                        <td><div style="padding-left: 20px;">{{ account.name }}</div></td>
                                        <td style="text-align: center;">{{ quotites }}</td>
                                        <td>{{ account.total_amount | format_money(false) }}</td>
                                        <td>{{ (account.owner + account.tenant) | format_money(false) }}</td>
                                        <td>{{ account.vat | format_money(false) }}</td>
                                        <td>{{ account.owner | format_money(false) }}</td>
                                        <td>{{ account.tenant | format_money(false) }}</td>
                                    </tr>
                                {% endfor %}

                                {% set common_total_owner = common_total_owner + apport.total_owner %}
                                {% set common_total_tenant = common_total_tenant + apport.total_tenant %}
                                {% set common_total_vat = common_total_vat + apport.total_vat %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr class="total-footer">
                            <td style="text-align: right;">{{ labels['global_summary.table.footer.td.grand_totals'] }}</td>
                            <td></td>
                            <td>{{ common_total | format_money() }}</td>
                            <td><strong>{{ (common_total_owner + common_total_tenant) | format_money() }}</strong></td>
                            <td>{{ common_total_vat | format_money() }}</td>
                            <td>{{ common_total_owner | format_money() }}</td>
                            <td>{{ common_total_tenant | format_money() }}</td>
                        </tr>
                </tfoot>
            </table>
            <!-- private expenses -->
            {% if owner.has_private_expense %}
            <table style="border-top: 0px;">
                <thead>
                    <tr>
                        <th style="width: 33%;">{{ labels['private_expenses.table.th.private_expenses'] }}</th>
                        <th style="width: 12%;">{{ labels['private_expenses.table.th.quotas'] }}</th>
                        <th style="width: 11%;">{{ labels['private_expenses.table.th.condo'] }}</th>
                        <th style="width: 11%;">{{ labels['private_expenses.table.th.lot'] }}</th>
                        <th style="width: 11%;">{{ labels['private_expenses.table.th.vat'] }}</th>
                        <th style="width: 11%;">{{ labels['private_expenses.table.th.owner'] }}</th>
                        <th style="width: 11%;">{{ labels['private_expenses.table.th.tenant'] }}</th>
                    </tr>
                </thead>
                <tbody>
                {% set total_tenant = 0 %}
                {% set total_owner = 0 %}
                {% set total_vat = 0 %}

                {% for expense in owner.expenses %}
                    {% if expense.name == 'private_expense' %}
                        <!-- struct differs for private expenses : there are only lines and no apport nor accounts -->
                        {% for line in expense.lines %}

                            <tr>
                                <td><div style="padding-left: 20px;">{{ line.name }}</div></td>
                                <td>/</td>
                                <td></td>
                                <td>{{ (line.owner + line.tenant) | format_money(false) }}</td>
                                <td>{{ line.vat | format_money(false) }}</td>
                                <td>{{ line.owner | format_money(false) }}</td>
                                <td>{{ line.tenant | format_money(false) }}</td>
                            </tr>

                            {% set total_owner = total_owner + line.owner %}
                            {% set total_tenant = total_tenant + line.tenant %}
                            {% set total_vat = total_vat + line.vat %}
                        {% endfor %}

                        {% set private_total_owner = private_total_owner + total_owner  %}
                        {% set private_total_tenant = private_total_tenant + total_tenant  %}
                        {% set private_total_vat = private_total_vat + total_vat %}

                    {% endif %}

                {% endfor %}
                </tbody>
                <tfoot>
                    <tr class="total-footer">
                            <td style="text-align: right;">{{ labels['private_expenses.table.footer.td.grand_totals'] }}</td>
                            <td></td>
                            <td>{{ private_total | format_money() }}</td>
                            <td><strong>{{ (private_total_owner + private_total_tenant) | format_money() }}</strong></td>
                            <td>{{ private_total_vat | format_money() }}</td>
                            <td>{{ private_total_owner | format_money() }}</td>
                            <td>{{ private_total_tenant | format_money() }}</td>
                        </tr>
                </tfoot>
            </table>
            {% endif %}
            <!-- provisions -->
            {% if owner.has_provisions %}
            <table style="border-top: 0px;">
                <thead>
                    <tr>
                        <th style="width: 33%;">{{ labels['provisions.table.th.provisions'] }}</th>
                        <th style="width: 12%;">{{ labels['provisions.table.th.quotas'] }}</th>
                        <th style="width: 11%;">{{ labels['provisions.table.th.condo'] }}</th>
                        <th style="width: 11%;">{{ labels['provisions.table.th.lot'] }}</th>
                        <th style="width: 11%;">{{ labels['provisions.table.th.vat'] }}</th>
                        <th style="width: 11%;">{{ labels['provisions.table.th.owner'] }}</th>
                        <th style="width: 11%;">{{ labels['provisions.table.th.tenant'] }}</th>
                    </tr>
                </thead>
                <tbody>
                {% set total_owner = 0 %}
                {% for expense in owner.expenses %}

                    {% if expense.name == 'provisions' %}
                        <!-- there is a single account for private expenses -->
                        {% for apport in expense.apportionments %}
                        {% for account in apport.accounts %}

                            <tr>
                                <td><div style="padding-left: 20px;">{{ labels['provisions.table.td.provisions_called'] }}</div></td>
                                <td>/</td>
                                <td>{{ provisions_total | format_money(false) }}</td>
                                <td>{{ account.owner | format_money(false) }}</td>
                                <td></td>
                                <td>{{ account.owner | format_money(false) }}</td>
                                <td></td>
                            </tr>

                            {% set total_owner = total_owner + account.owner %}
                        {% endfor %}
                        {% endfor %}
                        {% set provisions_total_owner = provisions_total_owner + total_owner  %}
                    {% endif %}

                {% endfor %}
                </tbody>
            </table>
            {% endif %}
            <!-- consumptions -->
            <!-- #TODO -->
            <!-- TOTAL expense statement -->
            <table style="border-top: 0px;">
                <tbody>
                    <tr class="total-footer">
                        <td style="width: 33%; text-align: right;">{{ labels['provisions.table.footer.td.grand_totals'] }}</td>
                        <td style="width: 12%;"></td>
                        <td style="width: 11%;">{{ (common_total + private_total + provisions_total) | format_money() }}</td>
                        <td style="width: 11%;">{{ (provisions_total_owner + common_total_owner + private_total_owner + common_total_tenant + private_total_tenant) | format_money() }}</td>
                        <td style="width: 11%;">{{ (common_total_vat + private_total_vat) | format_money() }}</td>
                        <td style="width: 11%;">{{ (common_total_owner + private_total_owner) | format_money() }}</td>
                        <td style="width: 11%;">{{ (common_total_tenant + private_total_tenant) | format_money() }}</td>

                    </tr>
                </tbody>
            </table>
        </div>
        {% endif %}

        <!-- detailed statements -->
        {% if has_details %}

            {% for lot in owner.property_lots %}

                <div class="page-break"></div>

                <h1>{{ lot.code }} - {{ lot.ref }} ({{ lot.nature }})</h1>

                <!-- pass-1 common expenses -->
                {% if owner.has_common_expense or owner.has_reserve_fund %}
                <div style="page-break-inside: avoid;">
                    <h2>{{ labels['detailed_statements.common_expenses.h2'] }}</h2>

                    <table>
                        <thead>
                            <tr>
                                <th style="width: 33%;">{{ labels['detailed_statements.common_expenses.table.th.designation'] }}</th>
                                <th style="width: 12%; text-align: center;">{{ labels['detailed_statements.common_expenses.table.th.quotas'] }}</th>
                                <th style="width: 11%;">{{ labels['detailed_statements.common_expenses.table.th.condo'] }}</th>
                                <th style="width: 11%;">{{ labels['detailed_statements.common_expenses.table.th.lot'] }}</th>
                                <th style="width: 11%;">{{ labels['detailed_statements.common_expenses.table.th.vat'] }}</th>
                                <th style="width: 11%;">{{ labels['detailed_statements.common_expenses.table.th.owner'] }}</th>
                                <th style="width: 11%;">{{ labels['detailed_statements.common_expenses.table.th.tenant'] }}</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% set total_apport = 0 %}
                            {% set total_owner = 0 %}
                            {% set total_tenant = 0 %}
                            {% set total_vat = 0 %}

                            {% for expense in lot.expenses %}
                                {% if expense.name == 'common_expense' %}
                                    {% for apport in expense.apportionments %}
                                        {% set quotites = apport.shares ~ ' / ' ~ apport.total_shares %}
                                        {% set apport_total = 0 %}
                                        {% set apport_owner = 0 %}
                                        {% set apport_tenant = 0 %}
                                        {% set apport_vat = 0 %}

                                        <tr>
                                            <td colspan="7" style="background-color: #eaeaea;">
                                                <strong>{{ apport.name }}</strong>
                                            </td>
                                        </tr>

                                        {% for account in apport.accounts %}
                                            {% set apport_total = apport_total + account.total_amount %}
                                            {% set apport_owner = apport_owner + account.owner %}
                                            {% set apport_tenant = apport_tenant + account.tenant %}
                                            {% set apport_vat = apport_vat + account.vat %}

                                            <tr>
                                                <td>{{ account.name }}</td>
                                                <td style="text-align: center;">{{ quotites }}</td>
                                                <td>{{ account.total_amount | format_money(false) }}</td>
                                                <td>{{ (account.owner + account.tenant) | format_money(false) }}</td>
                                                <td>{{ account.vat | format_money(false) }}</td>
                                                <td>{{ account.owner | format_money(false) }}</td>
                                                <td>{{ account.tenant | format_money(false) }}</td>
                                            </tr>
                                        {% endfor %}

                                        {% set total_apport = total_apport + apport_total %}
                                        {% set total_owner = total_owner + apport_owner %}
                                        {% set total_tenant = total_tenant + apport_tenant %}
                                        {% set total_vat = total_vat + apport_vat %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}

                            <tr class="total-footer">
                                <td style="text-align: right;">{{ labels['detailed_statements.common_expenses.table.footer.td.total'] }} {{ lot.code }} - {{ lot.ref }}</td>
                                <td></td>
                                <td>{{ total_apport | format_money() }}</td>
                                <td>{{ (total_owner + total_tenant) | format_money() }}</td>
                                <td>{{ total_vat | format_money() }}</td>
                                <td>{{ total_owner | format_money() }}</td>
                                <td>{{ total_tenant | format_money() }}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                {% endif %}

                <!-- pass-2 provisions -->
                {% if lot.has_provisions %}
                <div style="page-break-inside: avoid; margin-top: 10px;">
                    <h2>{{ labels['detailed_statements.provisions.h2'] }}</h2>

                    <table>
                        <thead>
                            <tr>
                                <th style="width: 35%;">{{ labels['detailed_statements.provisions.table.th.designation'] }}</th>
                                <th style="width: 15%;">{{ labels['detailed_statements.provisions.table.th.quotas'] }}</th>
                                <th style="width: 12%;">{{ labels['detailed_statements.provisions.table.th.condo'] }}</th>
                                <th style="width: 12%;">{{ labels['detailed_statements.provisions.table.th.lot'] }}</th>
                                <th style="width: 12%;">{{ labels['detailed_statements.provisions.table.th.vat'] }}</th>
                                <th style="width: 13%;">{{ labels['detailed_statements.provisions.table.th.owner'] }}</th>
                                <th style="width: 13%;">{{ labels['detailed_statements.provisions.table.th.tenant'] }}</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% set total_owner = 0 %}

                            {% for expense in lot.expenses %}
                                {% if expense.name == 'provisions' %}
                                    {% for apport in expense.apportionments %}
                                        {% for account in apport.accounts %}
                                            <tr>
                                                <td>{{ labels['detailed_statements.provisions.table.td.provisions_called'] }}</td>
                                                <td>/</td>
                                                <td></td>
                                                <td>{{ account.owner | format_money(false) }}</td>
                                                <td></td>
                                                <td>{{ account.owner | format_money(false) }}</td>
                                                <td></td>
                                            </tr>

                                            {% set total_owner = total_owner + account.owner %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
                {% endif %}

                <!-- pass-3 private expenses -->
                {% if lot.has_private_expense %}
                <div style="page-break-inside: avoid; margin-top: 10px;">
                    <h2>{{ labels['detailed_statements.private_expenses.h2'] }}</h2>

                    <table>
                        <thead>
                            <tr>
                                <th style="width: 35%;">{{ labels['detailed_statements.private_expenses.table.th.designation'] }}</th>
                                <th style="width: 15%;">{{ labels['detailed_statements.private_expenses.table.th.quotas'] }}</th>
                                <th style="width: 12%;">{{ labels['detailed_statements.private_expenses.table.th.condo'] }}</th>
                                <th style="width: 12%;">{{ labels['detailed_statements.private_expenses.table.th.lot'] }}</th>
                                <th style="width: 12%;">{{ labels['detailed_statements.private_expenses.table.th.vat'] }}</th>
                                <th style="width: 13%;">{{ labels['detailed_statements.private_expenses.table.th.owner'] }}</th>
                                <th style="width: 13%;">{{ labels['detailed_statements.private_expenses.table.th.tenant'] }}</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% set total_owner = 0 %}
                            {% set total_tenant = 0 %}
                            {% set total_vat = 0 %}

                            {% for expense in lot.expenses %}
                                {% if expense.name == 'private_expense' %}
                                    {% for line in expense.lines %}

                                        <tr>
                                            <td>{{ line.name }}<!--{{ account.date | date('d/m/Y') }} - {{ line.description }}--></td>
                                            <td>/</td>
                                            <td></td>
                                            <td>{{ (line.owner + line.tenant) | format_money(false) }}</td>
                                            <td>{{ line.vat | format_money(false) }}</td>
                                            <td>{{ line.owner | format_money(false) }}</td>
                                            <td>{{ line.tenant | format_money(false) }}</td>
                                        </tr>

                                        {% set total_owner = total_owner + line.owner %}
                                        {% set total_tenant = total_tenant + line.tenant %}
                                        {% set total_vat = total_vat + line.vat %}

                                    {% endfor %}
                                {% endif %}
                            {% endfor %}

                            <tr class="total-loc">
                                <td style="text-align: right;">Total {{ lot.code }} - {{ lot.ref }}</td>
                                <td></td>
                                <td></td>
                                <td>{{ (total_owner + total_tenant) | format_money() }}</td>
                                <td>{{ total_vat | format_money() }}</td>
                                <td>{{ total_owner | format_money() }}</td>
                                <td>{{ total_tenant | format_money() }}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                {% endif %}

            {% endfor %}
        {% endif %}

    {% endfor %}

    </div>

    {% include 'footer.html.twig' %}
</body>

</html>
