<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<!--
    Conventions for html templates:

    * template must consist of a single file
    * provide support for debug mode
    * use embedded styling embedded in <style> (CSS3)
    * avoid using `style` attribute in elements and favour classes
    * in CSS styles use `px` as unit for font size
    * in HTML elements, avoid using <br /> and favour blocks and inline-blocks
    * twig format is implicit for template files: use `{entity}.print.{name}.html` as naming convention
    * avoid assignment and computation of vars in template (when possible, compute values in controller)
    * twig instructions should be limited to displaying values and providing conditional statements
-->
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>
        {{ title }}
    </title>

    {% include 'header.style.html.twig' %}
    {% include 'footer.style.html.twig' %}


    <style type="text/css">
        @page {
            margin: 1cm 1cm;
        }

        .page-break {
            page-break-before: always;
        }

        body {
            margin: 0;
            padding: 0;
            /* margin-top must match header::height */
            margin-top: 100px;
            /* margin-bottom must match footer::height */
            margin-bottom: 50px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            text-align: justify;
            width: 100%;
        }

        h1, h2, h3 {
            margin-top: 0;
            margin-bottom: 0;
        }

        p {
            margin: 0;
            padding: 0;
        }

        h2 {
            font-size: 15px;
            text-align: center;
        }

        h3 {
            font-size: 15px;
        }

        main.debug {
            outline: solid 1px brown;
        }

        table.attendance-table {
            width: 100%;
            border-collapse: collapse;
            margin: 1.5em 0;
            min-width: 600px;
        }

        table.attendance-table tr.first {
            background-color: #f4f4f4;
        }

        table.attendance-table td {
            padding: 12px 15px;
            border: 1px solid black;
        }

    </style>
</head>

<body>

    {% include 'header.html.twig' %}

    {% set assemblyTypes = {
        'statutory': 'Assemblée Générale Statutaire',
        'takeover': 'Assemblée Générale de Reprise de gestion',
        'ordinary': 'Assemblée Générale Ordinaire',
        'extraordinary': 'Assemblée Générale Extraordinaire'
    } %}

    {% set majorityLabels = {
        'unanimity': 'Unanimité (100% des quotités)',
        'absolute': 'Majorité absolue (> 50% des quotités)',
        '2_3': 'Majorité des 2/3',
        '4_5': 'Majorité des 4/5'
    } %}

    {% set voteResultLabels = {
        'approved': 'Approuvé',
        'rejected': 'Rejeté',
    } %}


    <!-- <p>{{ assembly.heading_text_minutes }}</p> -->

    <div class="introduction" style="margin-top: 30px; margin-bottom: 30px;">
        {{ introduction | raw }}
    </div>

    {% for item in assembly.assembly_items_ids %}
    <div style="page-break-inside: avoid; margin-top: 10px;">
        {% set assemblyItem = map_assembly_items[item.id] %}

        <div style="text-decoration: underline; font-weight: bold;">
            {{ assemblyItem.order }}. {{ assemblyItem.name }}
            {% if assemblyItem.status == 'adjourned' %}
                &nbsp;-&nbsp;Reporté
            {% else %}
                {% if assemblyItem.has_vote_required %}
                    &nbsp;-&nbsp;{{ voteResultLabels[assemblyItem.vote_result] }}
                {% else %}
                    &nbsp;-&nbsp;Présenté & Examiné
                {% endif %}
            {% endif %}
        </div>

        {% if not item.is_group %}
            {% set ownerships_against = [] %}
            {% set ownerships_abstain = [] %}

            {% set weights_for = 0.0 %}
            {% set weights_against = 0.0 %}
            {% set weights_abstain = 0.0 %}

            {% for vote in assemblyItem.assembly_votes_ids %}
                {% if vote.vote_value == 'against' %}
                    {% set ownerships_against = ownerships_against | merge([map_ownerships[vote.ownership_id].code ~ ' - ' ~ map_ownerships[vote.ownership_id].address_recipient]) %}
                    {% set weights_against = weights_against + vote.vote_weight %}
                {% elseif vote.vote_value == 'abstain' %}
                    {% set ownerships_abstain = ownerships_abstain | merge([map_ownerships[vote.ownership_id].code ~ ' - ' ~ map_ownerships[vote.ownership_id].address_recipient ]) %}
                    {% set weights_abstain = weights_abstain + vote.vote_weight %}
                {% elseif vote.vote_value == 'for' %}
                    {% set weights_for = weights_for + vote.vote_weight %}
                {% endif %}
            {% endfor %}

            {% set sum_votes = weights_for + weights_against %}
            {% set ratio = sum_votes > 0 ? (weights_for / sum_votes) : 0.0 %}

            {% if assemblyItem.has_vote_required and assemblyItem.status == 'closed' %}
                {{ majorityLabels[assemblyItem.majority] }}
                {% if assemblyItem.assembly_votes_ids is not empty and sum_votes > 0 %}
                    &nbsp;-&nbsp;
                    Pour: {{ (weights_for / sum_votes * 100) | number_format(1, ',', ' ') }}%
                    &nbsp;&nbsp;
                    Contre: {{ (weights_against / sum_votes * 100) | number_format(1, ',', ' ') }}%
                {% endif %}
                <br /><br />
            {% endif %}

            <!-- #todo - ajouter un mini détail du résultat des votes -->
            <!--
            {% if assemblyItem.has_vote_required %}
            <div class="vote-summary">
                <strong>Résultat du vote :</strong>
                {% if assemblyItem.assembly_votes_ids is not empty and sum_votes > 0 %}
                <table style="border: solid 1px black;">
                    <tr>
                        <td style="width: 60px; font-weight: bold;">Pour</td>
                        <td style="width: 60px; font-weight: bold;">Contre</td>
                        <td style="width: 60px; font-weight: bold;">Abstention</td>
                    </tr>
                    <tr>
                        <td>{{ weights_for | number_format(2, ',', ' ') }}</td>
                        <td>{{ weights_against | number_format(2, ',', ' ') }}</td>
                        <td>{{ weights_abstain | number_format(2, ',', ' ') }}</td>
                    </tr>
                    <tr>
                        <td>{{ (weights_for / sum_votes * 100) | number_format(1, ',', ' ') }}%</td>
                        <td>{{ (weights_against / sum_votes * 100) | number_format(1, ',', ' ') }}%</td>
                        <td></td>
                    </tr>
                </table>
                {% else %}
                    Aucun vote enregistré.<br />
                {% endif %}
            </div>
            {% endif %}
            -->

            {% if assemblyItem.description_minutes is not empty %}
                {{ assemblyItem.description_minutes | raw }}
            {% endif %}

            {% if ownerships_against is not empty and assemblyItem.status == 'closed' %}
                <p><strong>Contre :</strong>
                    <span style="font-size: 10px;">{{ ownerships_against|join(', ') }}</span>
                </p>
            {% endif %}

            {% if ownerships_abstain is not empty and assemblyItem.status == 'closed' %}
                <p><strong>Abstention :</strong>
                    <span style="font-size: 10px;">{{ ownerships_abstain|join(', ') }}</span>
                </p>
            {% endif %}

        {% else %}

            {% if assemblyItem.description_minutes is not empty %}
                {{ assemblyItem.description_minutes | raw }}
            {% endif %}
            <table>
                <tr>
                    <td style="width: 30px;"></td>
                    <td>
                        {% for subitem_id in item.children_items_ids %}
                            {% set assemblySubItem = map_assembly_items[subitem_id] %}
                            <u>
                                {{ item.order }}. {{ assemblySubItem.order }}. {{ assemblySubItem.name }}
                                {% if assemblySubItem.status == 'adjourned' %}
                                    &nbsp;-&nbsp;Reporté
                                {% else %}
                                    {% if assemblySubItem.has_vote_required %}
                                        &nbsp;-&nbsp;{{ voteResultLabels[assemblySubItem.vote_result] }}
                                    {% else %}
                                        &nbsp;-&nbsp;Présenté & Examiné
                                    {% endif %}
                                {% endif %}
                            </u>
                            <br />
                            <table>
                                <tr>
                                    <td>

                                        {% set ownerships_against = [] %}
                                        {% set ownerships_abstain = [] %}

                                        {% set weights_for = 0.0 %}
                                        {% set weights_against = 0.0 %}
                                        {% set weights_abstain = 0.0 %}

                                        {% for vote in assemblySubItem.assembly_votes_ids %}
                                            {% if vote.vote_value == 'against' %}
                                                {% set ownerships_against = ownerships_against | merge([map_ownerships[vote.ownership_id].code ~ ' - ' ~ map_ownerships[vote.ownership_id].address_recipient]) %}
                                                {% set weights_against = weights_against + vote.vote_weight %}
                                            {% elseif vote.vote_value == 'abstain' %}
                                                {% set ownerships_abstain = ownerships_abstain | merge([map_ownerships[vote.ownership_id].code ~ ' - ' ~ map_ownerships[vote.ownership_id].address_recipient]) %}
                                                {% set weights_abstain = weights_abstain + vote.vote_weight %}
                                            {% elseif vote.vote_value == 'for' %}
                                                {% set weights_for = weights_for + vote.vote_weight %}
                                            {% endif %}
                                        {% endfor %}

                                        {% set sum_votes = weights_for + weights_against %}
                                        {% set ratio = sum_votes > 0 ? (weights_for / sum_votes) : 0.0 %}

                                        {% if assemblySubItem.has_vote_required and assemblySubItem.status == 'closed' %}
                                            {{ majorityLabels[assemblySubItem.majority] }}
                                            {% if assemblySubItem.assembly_votes_ids is not empty and sum_votes > 0 %}
                                                &nbsp;-&nbsp;
                                                Pour: {{ (weights_for / sum_votes * 100) | number_format(1, ',', ' ') }}%
                                                &nbsp;&nbsp;
                                                Contre: {{ (weights_against / sum_votes * 100) | number_format(1, ',', ' ') }}%
                                            {% endif %}
                                            <br /><br />
                                        {% endif %}

                                        {{ assemblySubItem.description_minutes | raw }}

                                        {% if ownerships_against is not empty and assemblySubItem.status == 'closed' %}
                                            <p><strong>Contre :</strong>
                                                <span style="font-size: 10px;">{{ ownerships_against|join(', ') }}</span>
                                            </p>
                                        {% endif %}

                                        {% if ownerships_abstain is not empty and assemblySubItem.status == 'closed' %}
                                            <p><strong>Abstention :</strong>
                                                <span style="font-size: 10px;">{{ ownerships_abstain|join(', ') }}</span>
                                            </p>
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                        {% endfor %}
                    </td>
                </tr>
            </table>
        {% endif %}
    </div>
    {% endfor %}

    <!-- <div>

        #todo - add `late_arrival_notice` & `early_leaving_notice`

    </div> -->


    <div class="conclusion" style="margin-top: 30px;">
        {{ conclusion | raw }}
    </div>

    <!-- <p>{{ assembly.closing_text_minutes }}</p> -->

    {% if signed %}
        <div class="page-break"></div>

        <table class="attendance-table">

            <tr class="first">
                <td style="width: 55%;"><b>Participant</b></td>
                <td style="width: 20%;"><b>Role</b></td>
                <td style="width: 25%;"><b>Signature</b></td>
            </tr>
            {% for attendee_id, attendee in map_attendees %}
            <tr>
                <td>
                    {{ attendee.name }}
                </td>
                <td>
                    {{ attendee.attendee_role }}
                </td>
                <td>
                    {% if attendee.minutes_document_signature_id.sig_method == 'ses' %}
                        <img style="max-width: 250px; height: auto;" src="data:image/png;base64,{{ attendee.minutes_document_signature_id.sig_drawn }}" />
                    {% else %}
                        Digitally signed by {{ attendee.name }} <br />
                        Signature: {{ attendee.minutes_document_signature_id.sig_hash | slice(0, 40) }} ...<br />
                        Timestamp: {{ attendee.minutes_document_signature_id.sig_timestamp }}<br />
                        Algorithm: {{ attendee.minutes_document_signature_id.sig_algo }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% include 'footer.html.twig' %}

</body>

</html>
