<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<!--
    Conventions for html templates:

    * template must consist of a single file
    * provide support for debug mode
    * use embedded styling embedded in <style> (CSS3)
    * avoid using `style` attribute in elements and favour classes
    * in CSS styles use `px` as unit for font size
    * in HTML elements, avoid using <br /> and favour blocks and inline-blocks
    * twig format is implicit for template files: use `{entity}.print.{name}.html` as naming convention
    * avoid assignment and computation of vars in template (when possible, compute values in controller)
    * twig instructions should be limited to displaying values and providing conditional statements
-->
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>
        {{ title }}
    </title>

    {% include 'header.style.html.twig' %}
    {% include 'footer.style.html.twig' %}

    <style type="text/css">
        @page {
            margin: 1cm 1cm;
        }

        body {
            margin: 0;
            padding: 0;
            /* margin-top must match header::height */
            margin-top: 100px;
            /* margin-bottom must match footer::height */
            margin-bottom: 50px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            text-align: justify;
            width: 100%;
        }

        p {
            margin-top: 0;
            margin-bottom: 0;
        }

        h1, h2, h3 {
            margin-top: 0;
            margin-bottom: 0;
        }

        h2 {
            font-size: 21px;
        }

        h3 {
            font-size: 15px;
        }

        main.debug {
            outline: solid 1px brown;
        }

    </style>
</head>

<body>
    {% include 'header.html.twig' %}

    <div class="introduction" style="height: 250px; overflow: hidden; text-overflow: ellipsis;">
        {{ introduction | raw }}
    </div>

    {% set assemblyTypes = {
        'statutory': 'Assemblée Générale Statutaire',
        'takeover': 'Assemblée Générale de Reprise de gestion',
        'ordinary': 'Assemblée Générale Ordinaire',
        'extraordinary': 'Assemblée Générale Extraordinaire'
    } %}

    {% set majorityLabels = {
        'unanimity': 'Unanimité (100% des quotités)',
        'absolute': 'Majorité absolue (> 50% des quotités)',
        '2_3': 'Majorité des 2/3',
        '4_5': 'Majorité des 4/5'
    } %}


    <p>
        {{ assembly.heading_text_minutes | raw }}
    </p>

    <h3 style="text-align: center;">Procès verbal de l'{{ assemblyTypes[assembly.assembly_type] ?? 'Type inconnu' }} tenue à l'adresse "{{ assembly.assembly_location }}" le date du <b>{{ assembly.assembly_date | date(date_format, timezone) }}</h3>

    <p>
        {{ assembly.heading_text_minutes }}
    </p>

    {% for item in assembly.assembly_items_ids %}
        <p>
            {% set assemblyItem = map_assembly_items[item.id] %}

            <div style="text-decoration: underline; font-weight: bold;">
                {{ assemblyItem.order }}. {{ assemblyItem.name }}
                {% if assemblyItem.status == 'adjourned' %}
                    Reporté
                {% else %}
                    {% if assemblyItem.has_vote_required %}
                        &nbsp;-&nbsp;{{ voteResultLabels[assemblyItem.vote_result] }}
                    {% else %}
                        &nbsp;-&nbsp;Présenté & Examiné
                    {% endif %}
                {% endif %}
            </div>

            {% if not item.is_group %}
                {% set ownerships_against = [] %}
                {% set ownerships_abstain = [] %}

                {% set weights_for = 0.0 %}
                {% set weights_against = 0.0 %}
                {% set weights_abstain = 0.0 %}

                {% for vote in assemblyItem.assembly_votes_ids %}
                    {% if vote.vote_value == 'against' %}
                        {% set ownerships_against = ownerships_against | merge([map_ownerships[vote.ownership_id].name]) %}
                        {% set weights_against = weights_against + vote.vote_weight %}
                    {% elseif vote.vote_value == 'abstain' %}
                        {% set ownerships_abstain = ownerships_abstain | merge([map_ownerships[vote.ownership_id].name]) %}
                        {% set weights_abstain = weights_abstain + vote.vote_weight %}
                    {% elseif vote.vote_value == 'for' %}
                        {% set weights_for = weights_for + vote.vote_weight %}
                    {% endif %}
                {% endfor %}

                {% set sum_votes = weights_for + weights_against %}
                {% set ratio = sum_votes > 0 ? (weights_for / sum_votes) : 0.0 %}

                {% if assemblyItem.has_vote_required %}
                    {{ majorityLabels[assemblyItem.majority] }}
                    {% if assemblyItem.assembly_votes_ids is not empty and sum_votes > 0 %}
                        &nbsp;-&nbsp;
                        Pour: {{ (weights_for / sum_votes * 100) | number_format(1, ',', ' ') }}%
                        &nbsp;&nbsp;
                        Contre: {{ (weights_against / sum_votes * 100) | number_format(1, ',', ' ') }}%
                    {% endif %}
                    <br /><br />
                {% endif %}

                <!-- #todo - ajouter un mini détail du résultat des votes -->
                <!--
                {% if assemblyItem.has_vote_required %}
                <div class="vote-summary">
                    <strong>Résultat du vote :</strong>
                    {% if assemblyItem.assembly_votes_ids is not empty and sum_votes > 0 %}
                    <table style="border: solid 1px black;">
                        <tr>
                            <td style="width: 60px; font-weight: bold;">Pour</td>
                            <td style="width: 60px; font-weight: bold;">Contre</td>
                            <td style="width: 60px; font-weight: bold;">Abstention</td>
                        </tr>
                        <tr>
                            <td>{{ weights_for | number_format(2, ',', ' ') }}</td>
                            <td>{{ weights_against | number_format(2, ',', ' ') }}</td>
                            <td>{{ weights_abstain | number_format(2, ',', ' ') }}</td>
                        </tr>
                        <tr>
                            <td>{{ (weights_for / sum_votes * 100) | number_format(1, ',', ' ') }}%</td>
                            <td>{{ (weights_against / sum_votes * 100) | number_format(1, ',', ' ') }}%</td>
                            <td></td>
                        </tr>
                    </table>
                    {% else %}
                        Aucun vote enregistré.<br />
                    {% endif %}
                </div>
                {% endif %}
                -->

                {% if assemblyItem.description_minutes is not empty %}
                    {{ assemblyItem.description_minutes | raw }}
                {% endif %}

                {% if ownerships_against is not empty %}
                    <p><strong>Contre :</strong>
                        <span style="font-size: 10px;">{{ ownerships_against|join(', ') }}</span>
                    </p>
                {% endif %}

                {% if ownerships_abstain is not empty %}
                    <p><strong>Abstention :</strong>
                        <span style="font-size: 10px;">{{ ownerships_abstain|join(', ') }}</span>
                    </p>
                {% endif %}

            {% else %}

                {% if assemblyItem.description_minutes is not empty %}
                    {{ assemblyItem.description_minutes | raw }}
                {% endif %}
                <table>
                    <tr>
                        <td style="width: 30px;"></td>
                        <td>
                            {% for subitem_id in item.children_items_ids %}
                                {% set assemblySubItem = map_assembly_items[subitem_id] %}
                                <u>
                                    {{ item.order }}. {{ assemblySubItem.order }}. {{ assemblySubItem.name }} 
                                    {% if assemblySubItem.has_vote_required %}
                                        {{ voteResultLabels[assemblySubItem.vote_result] }}
                                    {% endif %}

                                </u>
                                <br />
                                <table>
                                    <tr>
                                        <td style="width: 30px;"></td>
                                        <td>
                                            {{ assemblySubItem.description_minutes | raw }}
                                            {% if assemblySubItem.has_vote_required %}
                                                {{ majorityLabels[assemblySubItem.majority] }}
                                                {{ voteResultLabels[assemblySubItem.vote_result] }}
                                            {% endif %}

                                            {% set ownerships_against = [] %}
                                            {% set ownerships_abstain = [] %}

                                            {% for vote in assemblySubItem.assembly_votes_ids %}
                                                {% if vote.vote_value == 'against' %}
                                                    {% set ownerships_against = ownerships_against | merge([map_ownerships[vote.ownership_id].name]) %}
                                                {% elseif vote.vote_value == 'abstain' %}
                                                    {% set ownerships_abstain = ownerships_abstain | merge([map_ownerships[vote.ownership_id].name]) %}
                                                {% endif %}
                                            {% endfor %}

                                            {% if ownerships_against is not empty %}
                                                <p><strong>Contre :</strong>
                                                    <span style="font-size: 10px;">{{ ownerships_against|join(', ') }}</span>
                                                </p>
                                            {% endif %}

                                            {% if ownerships_abstain is not empty %}
                                                <p><strong>Abstention :</strong>
                                                    <span style="font-size: 10px;">{{ ownerships_abstain|join(', ') }}</span>
                                                </p>
                                            {% endif %}
                                        </td>
                                    </tr>
                                </table>
                            {% endfor %}
                        </td>
                    </tr>
                </table>
            {% endif %}
        </p>
    {% endfor %}


    <p>
        {{ assembly.closing_text_minutes | raw }}
    </p>



{% include 'footer.html.twig' %}

</body>

</html>
