<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<!--
    Conventions for html templates:

    * template must consist of a single file
    * provide support for debug mode
    * use embedded styling embedded in <style> (CSS3)
    * avoid using `style` attribute in elements and favour classes
    * in CSS styles use `px` as unit for font size
    * in HTML elements, avoid using <br /> and favour blocks and inline-blocks
    * twig format is implicit for template files: use `{entity}.print.{name}.html` as naming convention
    * avoid assignment and computation of vars in template (when possible, compute values in controller)
    * twig instructions should be limited to displaying values and providing conditional statements
-->
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>{{ title }}</title>

    {% include 'header.style.html.twig' %}
    {% include 'footer.style.html.twig' %}


    <style type="text/css">
        @page {
            margin: 1cm 1cm;
        }


        body {
            margin: 0;
            padding: 0;
            /* margin-top must match header::height */
            margin-top: 100px;
            /* margin-bottom must match footer::height */
            margin-bottom: 50px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 11px;
            text-align: justify;
            width: 100%;
        }


        h1, h2, h3 {
            margin-top: 0;
            margin-bottom: 10px;
        }

        h2 {
            font-size: 21px;
        }

        h3 {
            font-size: 14px;
            text-align: center;
            text-decoration: underline;
            margin-top: 32px;
            margin-top: 20px;
            padding-bottom: 4px;
        }

        h4 {
            font-size: 13px;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        h5 {
            font-size: 12px;
            text-decoration: underline;
        }

        main.debug {
            outline: solid 1px rgb(136, 76, 76);
        }

        main table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 12px;
            margin-bottom: 20px;
        }

        main table th, main table td {
            border: 1px solid #666;
            padding: 6px 10px;
            text-align: left;
        }

        main table th {
            background-color: #f0f0f0;
        }

        main table td {
            vertical-align: top;
        }

        .page-break {
            page-break-after: always;
        }
    </style>
</head>

<body>

    {% include 'header.html.twig' %}

        <p style="text-align: right;">
            {{ labels['letter.date_line'] | format(organisation.address_city, today_date | date(date_format, timezone)) }}
        </p>

        <!--
        <p>
            <strong>{{ labels['letter.subject.label'] }} :</strong> {{ labels['letter.subject.text'] }}
        </p>
        -->

        <table style="border: none; border-collapse: collapse;">
            <tr>
                <td style="border: none; width: 50%;">
                    <!--
                    <strong>{{ labels['condominium_association.label'] }} :</strong><br>
                    {{ condominium.name }}<br>
                    {{ condominium.address_street }}<br>
                    {{ condominium.address_zip }} – {{ condominium.address_city }}
                    -->
                    <strong>{{ labels['sale_by.label'] }} :</strong>
                    {% for owner in ownership.owners_ids %}
                        {{ owner.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                    <br>
                    <strong>{{ labels['lots.label'] }} :</strong>
                    {% for property_lot in property_lots %}
                        {{ property_lot.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                    <br>
                    <strong>{{ labels['total_shares.label'] }} :</strong> {{ ownership_shares }} / {{ condo_shares }}

                </td>
                <td style="border: none; width: 50%;">
                    <!--
                    <strong>{{ labels['sale_by.label'] }} :</strong>
                    {% for owner in ownership.owners_ids %}
                        {{ owner.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                    <br>
                    <strong>{{ labels['lots.label'] }} :</strong>
                    {% for property_lot in property_lots %}
                        {{ property_lot.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                    <br>
                    <strong>{{ labels['total_shares.label'] }} :</strong> {{ ownership_shares }} / {{ condo_shares }}
                    -->
                </td>
            </tr>
        </table>



        <p>
            {{ labels['introduction.request_received'] | format(request_date | date(date_format, timezone)) }}
        </p>


        <!-- 3.94 §1 -->
        {% if status != 'pending' %}
            <h3>{{ labels['article_3_94.section_1.title'] }}</h3>

            <h4>{{ labels['article_3_94.section_1.fund_balances.title'] }}</h4>
            <div>
                {{ fund_balances_description | raw }}

                <table>
                    <tr>
                        <th>{{ labels['fund_balances.table.th.fund'] }}</th>
                        <th>{{ labels['fund_balances.table.th.lot_shares'] }}</th>
                        <th>{{ labels['fund_balances.table.th.condo_shares'] }}</th>
                        <th>{{ labels['fund_balances.table.th.condominium'] }}</th>
                        <th>{{ labels['fund_balances.table.th.owner_share'] }}</th>
                    </tr>
                    {% for fund_balance in funds_balances %}
                    <tr>
                        <td>{{ fund_balance.condo_fund_id.name }}</td>
                        <td>{{ fund_balance.property_lots_shares }}</td>
                        <td>{{ fund_balance.condo_fund_shares }}</td>
                        <td>{{ fund_balance.condo_fund_balance  | format_money() }}</td>
                        <td>{{ fund_balance.property_lots_amount  | format_money() }}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>

            <h4>{{ labels['article_3_94.section_1.seller_arrears.title'] }}</h4>
            <div>

                <!--
                {% if arrears_amount > 0.0 %}
                    {{ labels['article_3_94.section_1.seller_arrears.some_message'] }} {{ arrears_amount | format_money() }}<br />
                {% else %}
                    {{ labels['article_3_94.section_1.seller_arrears.none_message'] }}<br />
                {% endif %}
                -->

                {% if seller_arrears_description is not empty %}
                    {{ seller_arrears_description | raw }}
                {% endif %}

                <!--
                <table>
                    <tr>
                        <th>{{ labels['arrears.table.th.due_date'] }}</th>
                        <th>{{ labels['arrears.table.th.label'] }}</th>
                        <th>{{ labels['arrears.table.th.type'] }}</th>
                        <th>{{ labels['arrears.table.th.remaining'] }}</th>
                    </tr>
                    {% for arrear_funding in arrear_fundings %}
                    <tr>
                        <td>{{ arrear_funding.due_date | date(date_format, timezone) }}</td>
                        <td>{{ arrear_funding.name }}</td>
                        <td>{{ arrear_funding.funding_type }}</td>
                        <td>{{ arrear_funding.remaining_amount  | format_money() }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <table>
                    <tr>
                        <th>{{ labels['transfer_fees.table.th.file_fees'] }}</th>
                        <th>{{ labels['transfer_fees.table.th.date'] }}</th>
                        <th>{{ labels['transfer_fees.table.th.description'] }}</th>
                        <th>{{ labels['transfer_fees.table.th.amount'] }}</th>
                    </tr>
                    {% for transfer_fee in transfer_fees %}
                    <tr>
                        <td></td>
                        <td>{{ transfer_fee.fee_date | date(date_format, timezone) }}</td>
                        <td>{{ transfer_fee.description }}</td>
                        <td>{{ transfer_fee.price  | format_money() }}</td>
                    </tr>
                    {% endfor %}
                </table>
                -->

            </div>

            <h4>{{ labels['article_3_94.section_1.scheduled_fund_requests.title'] }}</h4>
            <div>
                {{ scheduled_fund_requests_description | raw }}
            </div>

            <h4>{{ labels['article_3_94.section_1.judiciary_procedures.title'] }}</h4>
            <div>
                {{ judiciary_procedures_description | raw }}
            </div>

            <h4>{{ labels['article_3_94.section_1.general_assembly_minutes.title'] }}</h4>
                {{ labels['article_3_94.section_1.general_assembly_minutes.summary'] }} :
            <div>
                {{ general_assembly_minutes_description | raw }}
            </div>

            <h4>{{ labels['article_3_94.section_1.latest_balance_sheet.title'] }}</h4>
            <div>
                {{ latest_balance_sheet_description | raw }}
            </div>

            {% if with_additional_info_2 %}

                <h4>{{ labels['additional_information.title'] }}</h4>

                <h5>{{ labels['additional_information.bank_loans'] }} : </h5>
                <div>
                    <table>
                        <tr>
                            <th>{{ labels['bank_loans.table.th.description'] }}</th>
                            <th>{{ labels['bank_loans.table.th.apportionment'] }}</th>
                            <th>{{ labels['bank_loans.table.th.lot'] }}</th>
                            <th>{{ labels['bank_loans.table.th.lot_shares'] }}</th>
                            <th>{{ labels['bank_loans.table.th.condo_shares'] }}</th>
                            <th>{{ labels['bank_loans.table.th.total_amount'] }}</th>
                            <th>{{ labels['bank_loans.table.th.property_lot_amount'] }}</th>
                        </tr>
                        {% for bank_loan in bank_loans %}
                        <tr>
                            <td>{{ bank_loan.description }}</td>
                            <td>{{ bank_loan.property_lot_id.name }}</td>
                            <td>{{ bank_loan.apportionment_id.name }}</td>
                            <td>{{ bank_loan.total_shares }}</td>
                            <td>{{ bank_loan.property_lot_shares }}</td>
                            <td>{{ bank_loan.total_amount | format_money() }}</td>
                            <td>{{ bank_loan.property_lot_amount | format_money() }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>

                <h5>{{ labels['additional_information.intervention_record.title'] }} :</h5>
                <div>
                    <strong>
                    {%if has_intervention_record %}
                        {{ labels['additional_information.intervention_record.exists'] }}
                    {% else %}
                        {{ labels['additional_information.intervention_record.missing'] }}
                    {% endif %}
                    </strong>
                </div>
                <div>
                    <small>{{ labels['additional_information.intervention_record.consultation_notice'] }}</small>
                </div>

                <h5>{{ labels['additional_information.fuel_tank.title'] }} :</h5>
                <div>
                    <strong>
                    {% if has_fuel_tank %}
                        {{ labels['additional_information.fuel_tank.exists'] | format(fuel_tank_capacity) }}
                    {% else %}
                        {{ labels['additional_information.fuel_tank.missing'] }}
                    {% endif %}
                    </strong>
                </div>

            {% endif %}
        {% endif %}


        <!-- 3.94 §2 -->
        {% if status in ['confirmed', 'financial_statement_sent', 'settled'] %}
            <h3>{{ labels['article_3_94.section_2.title'] }}</h3>

            <h4>{{ labels['article_3_94.section_2.maintenance_expenses.title'] }}</h4>
            <div>
                {{ maintenance_expenses_description | raw }}
            </div>

            <h4>{{ labels['article_3_94.section_2.fund_requests.title'] }}</h4>
            <div>
                {{ fund_requests_description | raw }}

                <table>
                    <tr>
                        <th>{{ labels['fund_requests.table.th.call'] }}</th>
                        <th>{{ labels['fund_requests.table.th.called'] }}</th>
                        <th>{{ labels['fund_requests.table.th.planned'] }}</th>
                        <th>{{ labels['fund_requests.table.th.owner_called'] }}</th>
                        <th>{{ labels['fund_requests.table.th.owner_planned'] }}</th>
                    </tr>
                    {% for fund_request in funds_requests %}
                    <tr>
                        <td>{{ fund_request.fund_request_id.name }}</td>
                        <td>{{ fund_request.condo_called_amount | format_money() }}</td>
                        <td>{{ fund_request.condo_planned_amount | format_money() }}</td>
                        <td>{{ fund_request.property_lots_called_amount  | format_money() }}</td>
                        <td>{{ fund_request.property_lots_planned_amount  | format_money() }}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
            <div>
                <small>{{ labels['fund_requests.last_ago_notice'] }}</small>
            </div>

            <h4>{{ labels['article_3_94.section_2.commons_acquisitions.title'] }}</h4>
            <div>
                {{ commons_acquisitions_description | raw }}
            </div>

            <h4>{{ labels['article_3_94.section_2.condominium_debts.title'] }}</h4>
            <div>
                {{ condominium_debts_description | raw }}
            </div>

            <h4>{{ labels['article_3_94.section_2.seller_arrears.title'] }}</h4>
            <div>
                <table>
                    <tr>
                        <th>{{ labels['arrears.table.th.due_date'] }}</th>
                        <th>{{ labels['arrears.table.th.label'] }}</th>
                        <th>{{ labels['arrears.table.th.type'] }}</th>
                        <th>{{ labels['arrears.table.th.remaining'] }}</th>
                    </tr>
                    {% for arrear_funding in arrear_fundings %}
                    <tr>
                        <td>{{ arrear_funding.due_date | date(date_format, timezone) }}</td>
                        <td>{{ arrear_funding.name }}</td>
                        <td>{{ arrear_funding.funding_type }}</td>
                        <td>{{ arrear_funding.remaining_amount  | format_money() }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div>
                <small>{{ labels['arrears.penalties_notice'] }}<br />
            {{ labels['arrears.additional_provisions_notice'] }}</small>
            </div>
            <div>
                <p>{{ labels['payment.current_fiscal_year_notice'] }}</p>
                <p>{{ labels['payment.account_instruction'] }} <strong>{{ condominium.name }}</strong> :<br />
                    {{ organisation.bank_account_iban }}<br />
                    {{ organisation.bank_account_bic }}<br />
                    {{ labels['payment.reference_instruction'] }}
                </p>
            </div>


            {% if with_additional_info_2 %}

                <h4>{{ labels['additional_information.title'] }}</h4>

                <h5>{{ labels['additional_information.bank_loans'] }} : </h5>
                <div>
                    <table>
                        <tr>
                            <th>{{ labels['bank_loans.table.th.description'] }}</th>
                            <th>{{ labels['bank_loans.table.th.apportionment'] }}</th>
                            <th>{{ labels['bank_loans.table.th.lot'] }}</th>
                            <th>{{ labels['bank_loans.table.th.lot_shares'] }}</th>
                            <th>{{ labels['bank_loans.table.th.condo_shares'] }}</th>
                            <th>{{ labels['bank_loans.table.th.total_amount'] }}</th>
                            <th>{{ labels['bank_loans.table.th.property_lot_amount'] }}</th>
                        </tr>
                        {% for bank_loan in bank_loans %}
                        <tr>
                            <td>{{ bank_loan.description }}</td>
                            <td>{{ bank_loan.property_lot_id.name }}</td>
                            <td>{{ bank_loan.apportionment_id.name }}</td>
                            <td>{{ bank_loan.total_shares }}</td>
                            <td>{{ bank_loan.property_lot_shares }}</td>
                            <td>{{ bank_loan.total_amount | format_money() }}</td>
                            <td>{{ bank_loan.property_lot_amount | format_money() }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>

                <h5>{{ labels['additional_information.intervention_record.title'] }} :</h5>
                <div>
                    <strong>
                    {%if has_intervention_record %}
                        {{ labels['additional_information.intervention_record.exists'] }}
                    {% else %}
                        {{ labels['additional_information.intervention_record.missing'] }}
                    {% endif %}
                    </strong>
                </div>
                <div>
                    <small>{{ labels['additional_information.intervention_record.consultation_notice'] }}</small>
                </div>

                <h5>{{ labels['additional_information.fuel_tank.title'] }} :</h5>
                <div>
                    <strong>
                    {% if has_fuel_tank %}
                        {{ labels['additional_information.fuel_tank.exists'] | format(fuel_tank_capacity) }}
                    {% else %}
                        {{ labels['additional_information.fuel_tank.missing'] }}
                    {% endif %}
                    </strong>
                </div>

            {% endif %}

        {% endif %}

        <!-- 3.94 §3 -->
        {% if status == 'settled' %}
        <h3>{{ labels['article_3_94.section_3.title'] }}</h3>

        <p>{{ labels['article_3_94.section_3.notary_information_notice'] }}</p>

        <p>{{ labels['article_3_94.section_3.change_notification_request'] }}</p>
        {% endif %}


        <p>{{ labels['letter.closing'] }}</p>

        <p>
            <strong>{{ labels['letter.signature'] }}</strong>
        </p>

    {% include 'footer.html.twig' %}

</body>

</html>
